* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.container {
    width: 70%;
    margin: 0 auto;
}


body {
    background-color: rgb(250, 250, 250);
}


.header-up {
    height: 40px;
    background-color: black;
}


.header-up .menues li:hover {
    background-color: rgb(51, 49, 49);
    transition: all 0.5s;
}

.header-up .menues ul {
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
    margin-right: 80px;
    justify-content: center;
    list-style: none;
    gap: 50px;
    flex-wrap: wrap;
}

.header-up .menues ul li {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-up .menues ul li a {

    text-decoration: none;
    color: #5e5c5c;
    font-size: 12px;
    font-family: 'Lota Grotesque', sans-serif;
    cursor: pointer;
    position: relative;
}

.menues ul li a:before {

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #1cd8d2;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
}

.menues ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #1cd8d2;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
}

.header-up .menues ul li a:hover {
    color: white
}

ul li a:hover:before,
ul li a:hover:after {
    transform: scaleX(1);
}


.header-up .network {

    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
}

.header-up .network:hover {
    background-color: rgb(51, 49, 49);
    transition: all 0.5s;
}

.fa-solid {
    margin-left: 10px;
}

.header-up .network a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lota Grotesque', sans-serif;
    color: white;
    cursor: pointer;
}

.header-up .col-1 {
    display: flex;
    border-left: 1px solid rgb(117, 114, 114);
    border-right: 1px solid rgb(117, 114, 114);
}

.header-up .icon5g {
    width: 100%;
}

.header-up .icon5g:hover {
    background-color: rgb(70, 70, 70);
    transition: all 0.5s;
}

.header-up .icon5g a {
    display: block;
    margin-top: 11px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.header-up .account {
    display: flex;
    align-items: center;
    color: white;
}


.header-up .account:hover {
    background-color: rgb(51, 49, 49);
    transition: all 0.5s;
}


.header-up .account a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lota Grotesque', sans-serif;
    color: white;
    cursor: pointer;
}

.header-up .col-4 {
    display: flex;
    border-left: 1px solid rgb(117, 114, 114);

}

.header-up .language {
    width: 55px;
    display: flex;
    align-items: center;
    color: white;
    border-left: 1px solid rgb(117, 114, 114);
    cursor: pointer;
}


.header-up .language select {
    margin-left: 10px;
    border-color: #000000;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header-up .language select option {
    color: white;
    background-color: black;
}

.header-up .search {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}


.header-up .search:hover {
    background-color: rgb(51, 49, 49);
    transition: all 0.5s;
}

.header-up .language:hover {
    background-color: rgb(51, 49, 49);
    transition: all 0.5s;
}

.search .fa-solid {
    margin-right: 20px;
}

.header-center {
    height: 600px;
    background: url(../images/30.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header-center .navbar {
    display: flex;
}


.header-center .navbar .about ul {
    margin-right: 100px;
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-center .navbar .about ul li {
    width: 110px;
    height: 30px;
}

.header-center .navbar .about ul li a {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-family: 'Lota Grotesque', sans-serif;
    cursor: pointer;
    font-size: 12px;
}

.header-center .navbar .logo {
    width: 200px;
    margin-top: 10px;
    margin-right: 170px;
}

.header-center .navbar .about {
    display: flex;
    height: 20px;
    margin-top: 25px;
    justify-content: space-around;
}

.header-center .navbar .logo img {
    height: 40px;
    width: 120px;
}

.header-center .about li:hover {
    background-color: rgb(114, 114, 114);
    transition: all 0.5s;
    border-radius: 12px;
}

.header-center .image {
    display: flex;
}

.header-center .image h1 {

    width: 490px;
    font-weight: 700;
    font-family: 'Lota Grotesque', sans-serif;
    cursor: pointer;
    font-size: 60px;
    margin-top: 150px;
    color: white;
}

.header-center .image img {
    height: 600px;
    margin-top: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.header-center .azercell-apps {
    margin-top: 100px;
}

.header-center .azercell-apps h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header-center .text p {
    margin-top: 20px;
    color: rgb(202, 201, 201);
    opacity: 0.5;
    font-size: 15px;
    text-align: center;
    font-family: 'Lota Grotesque', sans-serif;
}

.header-center .app-category p {
    margin-top: 70px;
    color: rgb(202, 201, 201);
    opacity: 0.5;
    font-size: 14px;
    text-align: center;
    font-family: 'Lota Grotesque', sans-serif;
}

.header-center .app-button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}


.header-center .app-button .btn-1 {
    width: 110px;
    height: 40px;
    opacity: 1;
    border: 1px solid #9d7cb5;
    background-color: #ebbd00;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center .app-button .btn-1 a {

    color: white;
    cursor: pointer;
    text-decoration: none;
    list-style: none;

}

.header-center .app-button .btn-2 {
    width: 130px;
    height: 40px;
    opacity: 1;
    border: 1px solid #9d7cb5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center .app-button .btn-2 a {

    color: rgb(183, 180, 180);
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}


.header-center .app-button .btn-3 {
    width: 130px;
    height: 40px;
    opacity: 1;
    border: 1px solid #9d7cb5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center .app-button .btn-3 a {

    color: rgb(183, 180, 180);
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}


.header-center .app-button .btn-4 {
    width: 130px;
    height: 40px;
    opacity: 1;
    border: 1px solid #9d7cb5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center .app-button .btn-4 a {

    color: rgb(183, 180, 180);
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}


.header-center .app-button .btn-5 {
    width: 200px;
    height: 40px;
    opacity: 1;
    border: 1px solid #9d7cb5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.header-center .app-button .btn-5 a {

    color: rgb(183, 180, 180);
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border-radius: 20px;

}

.header-center .app-button .btn-6 {
    width: 90px;
    height: 40px;
    opacity: 1;
    border: 1px solid #9d7cb5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.header-center .app-button .btn-6 a {

    color: rgb(183, 180, 180);
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border-radius: 20px;
}


.header-center .app-button .btn-2:hover {
    border: 1px solid white;
    transition: all 0.5s;
}

.header-center .app-button .btn-3:hover {
    border: 1px solid white;
    transition: all 0.5s;
}

.header-center .app-button .btn-4:hover {
    border: 1px solid white;
    transition: all 0.5s;
}

.header-center .app-button .btn-5:hover {
    border: 1px solid white;
    transition: all 0.5s;
}

.header-center .app-button .btn-6:hover {
    border: 1px solid white;
    transition: all 0.5s;
}

#main-area .title {
    margin-top: 100px;
    font-weight: 750;
    font-size: 24px;
    font-family: 'Lota Grotesque', sans-serif;
}

#main-area .new-news {
    margin-left: 50px;
    margin-top: -45px;
}

#main-area .bckr-img img {
    width: 70%;
    height: 350px;
    position: absolute;
    border-radius: 15px;
    margin-top: 30px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-img img:hover {
    background: red;
    transition: all 0.5s;
}

#main-area .self-service span {
    font-size: 12px;
    color: rgb(236, 236, 236);
}

#main-area .self-service {
    margin-top: 50px;
    position: relative;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

#main-area .self-service .content {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .self-service .btn-1 button {
    width: 140px;
    height: 40px;
    margin-top: 50px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .self-service .btn-1 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;
}

#main-area .yandex-news {
    margin-left: 50px;
    margin-top: -48px;
}

#main-area .bckr-img-2 img {
    width: 70%;
    height: 350px;
    position: absolute;
    border-radius: 15px;
    margin-top: 150px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-img-2 img:hover {
    background: red;
    transition: all 0.5s;
}

#main-area .yandex span {
    font-size: 12px;
    color: rgb(236, 236, 236);
}

#main-area .yandex {
    position: relative;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

#main-area .yandex .yandex-about {
    margin-top: 170px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .yandex .btn-2 button {
    width: 140px;
    height: 40px;
    margin-top: 50px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .yandex .btn-2 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;
}

#main-area .yandex .interests {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .title-2 {
    margin-top: 120px;
    font-weight: 750;
    font-size: 24px;
    font-family: 'Lota Grotesque', sans-serif;
    color: black;
}

#main-area .bckr-3 img {
    width: 600px;
    height: 300px;
    position: absolute;
    border-radius: 15px;
    margin-top: 20px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-3 img:hover {
    background: red;
    transition: all 0.5s;
}

#main-area .best-apps-about span {
    font-size: 12px;
    color: rgb(236, 236, 236);
    margin-left: 10px;
}

#main-area .best-apps-about .icon img {
    width: 40px;
    height: 40px;
}

#main-area .best-apps {
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

#main-area .best-apps .app-news p {
    margin-top: -70px;
    margin-left: 10px;
}

#main-area .best-apps .best-apps-about {
    display: flex;
    font-weight: bold;
}

#main-area .best-apps .btn-3 button {
    width: 140px;
    height: 40px;
    margin-top: 50px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .best-apps .btn-3 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;
}

#main-area .best-apps .app-news {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .best-apps .book h1 {
    margin-top: 50px;
    font-weight: bold;
}

#main-area .busuu-azercell {
    display: flex;
    cursor: pointer;
}

#main-area .bckr-4 img {
    width: 600px;
    height: 300px;
    position: absolute;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-4 img:hover {
    background: red;
    transition: all 0.5s;
}

#main-area .busuu-azercell span {
    font-size: 12px;
    color: rgb(236, 236, 236);
    margin-left: 10px;
}

#main-area .busuu-azercell .busuu-main {
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}

#main-area .busuu-azercell .busuu-icon {
    display: flex;
}

#main-area .busuu-azercell .busuu-icon img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#main-area .busuu-azercell .busuu-icon .icon {
    margin-top: -20px;
}

#main-area .busuu-azercell .busuu-icon .busuu-about {
    margin-top: -20px;
}

#main-area .busuu-azercell .busuu-icon .busuu-about p {
    margin-left: 10px;
}

#main-area .best-apps .best-apps-about {
    display: flex;
    font-weight: bold;
}

#main-area .btn-4 button {
    width: 140px;
    height: 40px;
    margin-top: 60px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-4 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .best-apps .app-news {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .busuu h1 {
    margin-top: 70px;
    font-weight: bold;
}

#main-area .busuu-azercell .azercell {
    margin-left: 310px;
}

#main-area .busuu-azercell .azercell .bckr-4 img {
    width: 420px;
    height: 300px;
    cursor: pointer;

}

#main-area .busuu-azercell .azercell .azercell-main {
    position: relative;
    margin-top: 80px;
    margin-left: 20px;
}

#main-area .busuu-azercell .azercell .azercell-icon {
    display: flex;
}


#main-area .azercell-kids h1 {
    color: white;
    margin-top: 60px;
    font-weight: bold;
}

#main-area .busuu-azercell .azercell .azercell-icon p {
    margin-left: 10px;
    color: white;
}

#main-area .btn-5 button {
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-5 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .busuu-azercell {
    display: flex;
    cursor: pointer;
}

#main-area .bckr-4 img {
    width: 600px;
    height: 300px;
    position: absolute;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-4 img:hover {
    background: red;
    transition: all 0.5s;
}

#main-area .busuu-azercell span {
    font-size: 12px;
    color: rgb(236, 236, 236);
    margin-left: 10px;
}

#main-area .busuu-azercell .busuu-main {
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}

#main-area .busuu-azercell .busuu-icon {
    display: flex;
}

#main-area .busuu-azercell .busuu-icon img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#main-area .busuu-azercell .busuu-icon .icon {
    margin-top: -20px;
}

#main-area .busuu-azercell .busuu-icon .busuu-about {
    margin-top: -20px;
}

#main-area .busuu-azercell .busuu-icon .busuu-about p {
    margin-left: 10px;
}

#main-area .best-apps .best-apps-about {
    display: flex;
    font-weight: bold;
}

#main-area .btn-4 button {
    width: 140px;
    height: 40px;
    margin-top: 60px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-4 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .best-apps .app-news {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .busuu h1 {
    margin-top: 70px;
    font-weight: bold;
}

#main-area .busuu-azercell .azercell {
    margin-left: 310px;
}

#main-area .busuu-azercell .azercell .bckr-4 img {
    width: 420px;
    height: 300px;
    cursor: pointer;

}

#main-area .busuu-azercell .azercell .azercell-main {
    position: relative;
    margin-top: 80px;
    margin-left: 20px;
}

#main-area .busuu-azercell .azercell .azercell-icon {
    display: flex;
}


#main-area .azercell-kids h1 {
    color: white;
    margin-top: 60px;
    font-weight: bold;
}

#main-area .busuu-azercell .azercell .azercell-icon p {
    margin-left: 10px;
    color: white;
}

#main-area .btn-5 button {
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-5 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .busuu-azercell {
    display: flex;
    cursor: pointer;
}

#main-area .bckr-4 img {
    width: 600px;
    height: 300px;
    position: absolute;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-4 img:hover {
    background: red;
    transition: all 0.5s;
}

#main-area .busuu-azercell span {
    font-size: 12px;
    color: rgb(236, 236, 236);
    margin-left: 10px;
}

#main-area .busuu-azercell .busuu-main {
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}

#main-area .busuu-azercell .busuu-icon {
    display: flex;
}

#main-area .busuu-azercell .busuu-icon img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#main-area .busuu-azercell .busuu-icon .icon {
    margin-top: -20px;
}

#main-area .busuu-azercell .busuu-icon .busuu-about {
    margin-top: -20px;
}

#main-area .busuu-azercell .busuu-icon .busuu-about p {
    margin-left: 10px;
}

#main-area .best-apps .best-apps-about {
    display: flex;
    font-weight: bold;
}

#main-area .btn-4 button {
    width: 140px;
    height: 40px;
    margin-top: 60px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-4 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .best-apps .app-news {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

#main-area .busuu h1 {
    margin-top: 70px;
    font-weight: bold;
}

#main-area .busuu-azercell .azercell {
    margin-left: 310px;
}

#main-area .busuu-azercell .azercell .bckr-4 img {
    width: 420px;
    height: 300px;
    cursor: pointer;

}

#main-area .busuu-azercell .azercell .azercell-main {
    position: relative;
    margin-top: 80px;
    margin-left: 20px;
}

#main-area .busuu-azercell .azercell .azercell-icon {
    display: flex;
}


#main-area .azercell-kids h1 {
    color: white;
    margin-top: 60px;
    font-weight: bold;
}

#main-area .busuu-azercell .azercell .azercell-icon p {
    margin-left: 10px;
    color: white;
}

#main-area .btn-5 button {
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-5 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .title-3 {
    margin-top: 100px;
    font-weight: 750;
    font-size: 24px;
    font-family: 'Lota Grotesque', sans-serif;
}

#main-area .cinema-tv-app {
    display: flex;
    cursor: pointer;
}

#main-area .bckr-5 img {
    width: 420px;
    height: 300px;
    position: absolute;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 0.9;
    cursor: pointer;
}

#main-area .bckr-5 img:hover {
    transition: all 0.5s;
}

#main-area .cinema-tv-app span {
    font-size: 12px;
    color: rgb(236, 236, 236);
    margin-left: 10px;
}

#main-area .cinema-tv-app .tv-main {
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}

#main-area .cinema-tv-app .tv-icon {
    display: flex;
}

#main-area .cinema-tv-app .tv-about span{
    display: inline-block;
}

#main-area .cinema-tv-app .tv-icon img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#main-area .cinema-tv-app .tv-icon .icon {
    margin-top: -20px;
}

#main-area .cinema-tv-app .tv-icon .tv-about {
    margin-top: -20px;
}

#main-area .cinema-tv-app .tv-about p {
    margin-left: 10px;
}

#main-area .tv-app .tv-about {
    display: flex;
    font-weight: bold;
}

#main-area .btn-6 button {
    width: 140px;
    height: 40px;
    margin-top: 60px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-6 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#main-area .best-online .online-about {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
}

#main-area .mobil-tv h1 {
    margin-top: 70px;
    font-weight: bold;
}

#main-area .cinema-tv-app .best-online {
    margin-left: 310px;
}

#main-area .bckr-6 img {
    width: 600px;
    height: 300px;
    position: absolute;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 0.9;
    cursor: pointer;
    margin-left: -170px;
}


#main-area .best-online .chanel {
    margin-top: 80px;
    margin-left: 20px;
}

#main-area .cinema-tv-app .best-online .chanel-icon {
    display: flex;
    position: relative;
}

#main-area .cinema-tv-app .best-online .chanel-icon .icon img{
    width: 40px;
    height: 40px;
}

#main-area .tv-main.tv-icon .icon img{
    margin-top: -30px;
    width: 40px;
    height: 40px;
}


#main-area .best-online h1 {
    color: white;
    margin-top: 60px;
    font-weight: bold;
}

#main-area .cinema-tv-app .best-online .online-about  p {
    margin-left: 10px;
    color: black;
    position: relative;
}

#main-area .btn-7 button {
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#main-area .btn-7 button:hover {
    background: rgba(255, 255, 255, 0.089);
    transition: all 0.5s;

}

#footer-area {
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
    margin-top: 200px;
}

#footer-area .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 190px;
    border-bottom: 1px solid grey;
}

#footer-area .footer ul li {
    list-style: none;
}

#footer-area .footer ul li a {
    color: white;
    text-decoration: none;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lota Grotesque', sans-serif;
}

#footer-area .footer ul li a:hover {
    color: rgb(116, 62, 116);
    transition: all 0.5s;
    cursor: pointer;
}


#footer-area .footer .contents a {
    color: #b2b2b2;
    margin-top: 10px;
    display: block;
    font-weight: 400;
    font-size: 13px;
}

#footer-area .footer .language-logo {
    position: relative;
}

#footer-area .footer .language-logo .img2 {
    position: absolute;
    margin-top: 45px;
    margin-left: 50px;
    z-index: 1;
}

#footer-area .footer .language-logo .img2 img {
    width: 42px;
    height: 38px;
}


#footer-area .footer .language-logo .lang {
    position: absolute;
    width: 100px;
}

#footer-area .footer .language-logo form {
    width: 55px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 20px;
}


#footer-area .footer .language-logo img {
    height: 40px;
    width: 120px;
    cursor: pointer;
}

#footer-area .footer .language-logo .language {
    width: 100px;
    height: 40px;
    position: relative;
    margin-left: 8px;
}

#footer-area .footer .language-logo .language label {
    margin-top: -10px;
    cursor: pointer;
}

#footer-area .footer .language-logo .language:hover {
    background-color: rgb(51, 49, 49);
    transition: all 0.5s;
}

#footer-area .contact .call-center {
    margin-top: 30px;
}

#footer-area .contact .app-download {
    margin-top: 30px;
}

#footer-area .contact .subscription {
    margin-top: 30px;
}


#footer-area .contact {
    display: flex;
    justify-content: space-between;
}

#footer-area .contact p {
    color: rgb(179, 179, 179);
    font-size: 15px;

}

#footer-area .contact span {
    color: white;
}

#footer-area .app-buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

#footer-area .app-buttons .app-button1 button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .15);
    color: rgb(183, 180, 180);
    cursor: pointer;

}

#footer-area .app-buttons .app-button1 button:hover {
    background-color: rgb(52, 51, 51);
    transition: all 0.5s;
}


#footer-area .app-buttons .app-button2 button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .15);
    color: rgb(183, 180, 180);
    cursor: pointer;
}

#footer-area .app-buttons .app-button2 button:hover {
    background-color: rgb(52, 51, 51);
    transition: all 0.5s;
}

#footer-area .app-buttons .app-button3 button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .15);
    color: rgb(183, 180, 180);
    cursor: pointer;

}

#footer-area .app-buttons .app-button3 button:hover {
    background-color: rgb(52, 51, 51);
    transition: all 0.5s;
}

#footer-area .subscription .subsc-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

#footer-area .subscription .app-button4 button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .15);
    color: rgb(183, 180, 180);
    cursor: pointer;

}


#footer-area .subscription .app-button4 button:hover {
    background-color: rgb(52, 51, 51);
    transition: all 0.5s;
}

#footer-area .subscription .app-button5 button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, .15);
    color: white;
    cursor: pointer;

}

#footer-area .subscription .app-button5 button:hover {
    background-color: rgb(52, 51, 51);
    transition: all 0.5s;
}

#footer-area .az-telecom {
    margin-top: 30px;
    color: white;
    font-size: 15px;
    color: rgb(179, 179, 179);
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}